name: Upload Python Package

# 1. Mengubah pemicu agar berjalan otomatis saat push ke branch 'main'
on:
  push:
    branches:
      - main 

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install build twine
        
    - name: Build and Publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
      run: |
        python -m build
        # 2. Menambahkan --skip-existing untuk mencegah error jika versi belum diganti
        twine upload --skip-existing dist/*